/Checkbox
/desktop.ini
/Django project
/django-ajax-search
/ecommerce
/ecommerce2
/editable
/file2.py
/file3.py
/file5.py
/file6.py
/Files
/filter
/frontend
/game_website
/income
/main.java
/main2.java
/MessageBox.py
/My documents
/Open With Sublime 3.bat
/Rittwik.pdf
/search2
/searchfilter
/Signed Offer Letter- Rittwik.pdf
/tempCodeRunnerFile.py
/x_editableupdate
/x_editable_username
/~$w Microsoft Word Document.docx